.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(193, 206, 250);
}

.app-searchForm {
  margin-top: 15px;
}
.app-input {
  padding: 5px 15px;
  min-width: 200px;
  max-width: 100px;
  font-size: 15px;
}
.app-search {
  padding: 5px 15px;
  font-size: 15px;
  margin-left: 8px;
  background-color: green;
  border: 2px solid green;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.app-search:hover {
  padding: 5px 15px;
  font-size: 15px;
  margin-left: 8px;
  background-color: green;
  border: 2px solid green;
  border-radius: 4px;
  color: blue;
  cursor: pointer;
}
.app-recipe {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 250px 250px;
  align-items: baseline;
  border-radius: 5px;
  margin: 5px 5px;
}
.app-healthlabels {
  padding: 10px 10px;
  margin-left: 6px;
  border-radius: 5px;
}
